.root {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin: auto;
  padding: 60px 0;

  p {
    font-family: var(--font-montserrat);
    font-size: 32px;
    line-height: 1.5;
    font-weight: 600;
    text-align: left;
    margin: 0;
    color: #000;
  }
}
