:root {
  --page-width: 1200px;
}

.svgContainer {
  position: fixed;
  left: -200vw;
  top: -200vh;
}

.svg {
  width: 100vw;
  height: 100vh;
}

.longWrapper {
  width: 100%;
  position: relative;
}

.stickyWrapper {
  width: 100%;
  height: 100dvh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

.page1 {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

.page2 {
  background: #fff;
  mask: url(#reveal-mask);
  -webkit-mask: url(#reveal-mask);
  z-index: 10;
}

.page1Content {
  font-family: var(--font-montserrat);
  text-transform: capitalize;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;

  span {
    color: #fff;
    font-weight: bold;
  }
}

.page1Text1 {
  span {
    font-size: 76px;
  }
}

.page1Text2 {
  span {
    font-size: 32px;
  }
}

.page2Content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.page2ContentInner {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
}
